parameters:
    level: 7
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - install.php
        - cms
        - public/index.php
    excludePaths:
        - vendor
        - frontend
    tmpDir: storage/cache/phpstan
includes:
    - phpstan-baseline.neon
