parameters:
    level: 6
    paths:
        - src
        - install.php
        - cms
        - public/index.php
    excludePaths:
        - vendor
        - frontend
    tmpDir: storage/cache/phpstan
