.root {
  display: flex;
  flex-direction: column;
  gap: var(--hcms-SPx2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--hcms-SPx2);
}

.generateIcon {
  margin-right: var(--hcms-SPx1);
  width: calc(var(--hcms-SPx1) * 3.5);
  height: calc(var(--hcms-SPx1) * 3.5);
}

.field {
  position: relative;
}

.inputPadOne {
  padding-right: var(--hcms-SPx10);
}

.inputPadTwo {
  padding-right: calc(var(--hcms-SPx10) * 2);
}

.trailing {
  position: absolute;
  top: 50%;
  right: var(--hcms-SPx1);
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.iconBtn {
  width: var(--hcms-SPx7);
  height: var(--hcms-SPx7);
}

.icon {
  width: var(--hcms-SPx4);
  height: var(--hcms-SPx4);
}

.hint {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--hcms-color-muted-foreground);
}
