.root {
  display: flex;
  min-height: 100svh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--hcms-SPx3);
}

.title {
  height: var(--hcms-SPx8);
  width: 12rem;
}

.subtitle {
  height: var(--hcms-SPx4);
  width: 8rem;
}
