.root {
  margin-inline: auto;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  gap: var(--hcms-SPx6);
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--hcms-color-muted-foreground);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--hcms-SPx4);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--hcms-SPx2);
}

.error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--hcms-color-destructive);
}

.actions {
  display: flex;
  gap: var(--hcms-SPx2);
}
