.form {
  display: flex;
  flex-direction: column;
  gap: var(--hcms-SPx4);
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: var(--hcms-SPx2);
}

.error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--hcms-color-destructive);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--hcms-SPx2);
}
